*.DS_Store

**/transaction-loader/target/classes/
**/transaction-loader/target/generated-sources/
**/transaction-loader/target/maven-status/
**/transaction-loader/target/maven-archiver/
**/transaction-loader/.idea/
**/feature-data-loader/.idea/
**/feature-data-loader/target/generated-sources/
**/feature-data-loader/target/maven-status/
**/feature-data-loader/target/maven-archiver/
**/feature-data-loader/target/classes/
feature-data-loader/target/classes/org/example/Main.class
